body{
    background-color: #7FB238;
}
h1{
    text-align: center;
    font-size: 5rem;
    font-family: 'Minecraftia', monospace;
    font-weight: bold;
    color: #AAAAAA;
    text-shadow: 1px 1px #555555;
}
a{
    color:#835C3B;
}